<table>
    <tr>
        <th ng-repeat="col in tableCtrl.cols">{{col.label}}</th>
    </tr> 
    <tr ng-repeat-start="item in tableCtrl.items">
        <td ng-repeat="col in tableCtrl.cols">
            <sp-data-table-cell item="item" col="col">
            </sp-data-table-cell>
        </td> 
    </tr>
    <tr ng-if="tableCtrl.expanderFunc({item: item})" ng-repeat-end> 
        <td colspan="{{tableCtrl.cols.length}}">
            <ng-include src="tableCtrl.expanderTemplate"> 
        </td> 
    </tr>
</table>
